/*Geral*/

*
    {
        font-family:'Roboto';
    }

    body
    {
        min-height: 100vh;
        padding-bottom: 100px;
        position: relative;
    }

    header
    {
        background-color: rgba(0, 128, 0, 0.5);
        border-bottom: 1px solid #ccc;
    }

    .row{
        margin: 0;
    }

    /* navbar */
    #navbar img {
        width: 40px;
    }
    
    #navbar {
        justify-content: space-between;
        background-color: rgba(0, 128, 0, 0.5);
        padding: 5px 0;
    }
    
    #navbar a {
        font-size: 14px;
        color: #757575;
    }
    
    #navbar a:hover {
        color: #F2A340;
    }

    /*welcome container*/

    #welcome-container
    {
        /*background-image: url('../img/matriz2.jpeg');*/
        background-size: cover;
        background-position: center;
        height: 400px;
        padding: 50px;
    }

    #welcome-container h1{
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    #welcome-container h6{
        align-items: center;
        justify-content: center;
    }

    .abas {
    position: relative;
    }
    .aba {
    display: inline;
    }
    .aba > a {
    float: left;
    padding: 0.5em 1em;
    background: linear-gradient(#FFF, #EEE);
    border-width: 1px;
    border-style: solid;
    border-color: #CCC #CCC #FFF;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    }
    .aba:not(:target) a {
    border-bottom: 0 none;
    }
    .aba:target a, a:hover {
    background: white;
    }
    .conteudo {
    position: absolute;
    left: 0;
    top: calc(2em + 4px); /* altura do link + bordas */
    z-index: -2;
    border: 1px solid #CCC;
    background-color: white;
    }
    .aba:target .conteudo {
    z-index: -1;
    }

    /* footer */
    footer {
        text-align: center;
        background-color: #353E48;
        color: #FFF;
        padding: 30px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    footer p {
        margin-bottom: 0;
    }